<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Citas'" [items]="[]" [active_item]="'Calendario'">
        </app-breadcrumb>
      </div>
      <div class="row">
        <div class="card">
            <div class="header">
              <!-- <h2>Editar Cita</h2> -->
            </div>
            <div class="body">
                <div class="example-container">
                     <form [formGroup]="calendarForm">
                        <mat-form-field class="col-4" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput (dateInput)="onDateChange($event)" [matDatepickerFilter]="myFilter" [min]="minDate" formControlName="fecha" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="campoEsValido('fecha')">{{'Debe seleccionar una fecha'}}</mat-error>
                        </mat-form-field>
                  </form>
              </div>
              <div *ngIf="showTable" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="materialTableHeader">
                      <div class="left">
                        <ul class="header-buttons-left ms-0">
                          <li class="tbl-title">
                            <h2>Citas</h2>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="body overflow-auto">
                      <div class="responsive_table">
                        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                          
                          <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                          </ng-container>
                          
                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Paciente
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"><span class="mobile-label">Patient Name:</span> {{ row.Paciente.nombre + ' ' + row.Paciente.apellidos }}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="dateTime">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha y Hora
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span class="mobile-label">Date & Time:</span> {{ row.fecha_cita | CustomDateTablePipe }}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="mobile">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Celular
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> <span class="mobile-label">Mobile:</span> {{row.Paciente.telefono}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Correo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"><span class="mobile-label">Email:</span> {{row.Paciente.correo}}
                            </mat-cell>
                          </ng-container>
          
                          <ng-container matColumnDef="address">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Address
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="column-nowrap"> <span
                                class="mobile-label">Address:</span>{{row.Paciente.calle_y_numero}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="disease">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="column-nowrap"> <span
                                class="mobile-label">Estatus:</span>
                                <button mat-raised-button [ngClass]="getStatus(row.estatus)">
                                  {{row.estatus}}
                                </button>
                            </mat-cell>
                          </ng-container>
                          <!-- actions -->
                          <!-- <ng-container matColumnDef="actions">
                            <mat-header-cell class="psl-3 tbl-col-width-per-10" *matHeaderCellDef>Acciones
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i=index;" class="psl-3 tbl-col-width-per-10">
                              <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <i class="material-icons-two-tone align-middle msr-2">done</i>
                                  <span>Approve</span>
                                </button>
                                <button mat-menu-item>
                                  <i class="material-icons-two-tone align-middle msr-2">highlight_off</i>
                                  <span>Cancel</span>
                                </button>
                              </mat-menu>
                            </mat-cell>
                          </ng-container> -->
          
                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                          </mat-row>
                        </mat-table>
                        <!-- Loading spinner -->
                        <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner">
                          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                          </mat-progress-spinner>
                        </div>
                        <div *ngIf="!exampleDatabase?.isTblLoading" class="no-results"
                          [style.display]="dataSource.filteredData.length === 0 ? '' : 'none'">
                          Sin resultados
                        </div>
                        <mat-paginator #paginator [length]="datosFuente.length" [pageIndex]="0" [pageSize]="5"
                          [pageSizeOptions]="[5, 10]">
                        </mat-paginator>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
    </div>
  </section>
  
  