<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Pacientes'" [items]="[]" [active_item]="'Todos los Pacientes'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Pacientes</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Buscar" type="text" #filter class="browser-default search-field"
                    aria-label="Search box">
                </li>
              </ul>
            </div>
          </div>
          <div class="body overflow-auto">
            <div class="responsive_table">
              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                <!-- ID Column -->
                <ng-container matColumnDef="idPaciente">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.idPaciente}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                  <mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Nombre:</span>
                    {{row.nombre + ' ' + row.apellidos}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="correo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Correo
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Correo:</span>
                      {{row.correo}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="telefono">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
                  <mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">
                      Telefono:
                    </span>{{row.telefono}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="edad">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Edad
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let row">
                    <span class="mobile-label">Edad:</span> {{row.edad}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaRegistro">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Registro</mat-header-cell>
                  <mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Fecha Registro:</span>
                    {{row.fechaRegistro}}
                  </mat-cell>
                </ng-container> 
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple (click)="redirect(row)">
                </mat-row>
              </mat-table>
              <!-- Loading spinner -->
              <!-- <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner"> -->
              <div *ngIf="isSpinnerActive" class="tbl-spinner">

                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <!-- <div *ngIf="!exampleDatabase?.isTblLoading" class="no-results" [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"> -->
              <div *ngIf="!(patients.length > 0)" class="no-results">
                No results
              </div>
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
