<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Tablero'" [items]="[]" [active_item]="'Tablero Doctor'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="card">
        <div class="header">
          <h2> Bienvenido a SMARQLINIC Doctor </h2>
        </div>
        <div class="body">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="info-box7 l-bg-card2 order-info-box7">
                <div class="info-box7-block">
                  <h5 class="m-b-15">Total de pacientes</h5>
                  <h2 class="text-end"><i class="fas fa-user-injured float-start"></i><span class="font-30">{{ numPacientes }}</span></h2>
                  <!-- <p class="m-b-0">18% Higher Then Last Month</p> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="info-box7 l-bg-card1 order-info-box7">
                <div class="info-box7-block">
                  <h5 class="m-b-15">Citas para hoy</h5>
                  <h2 class="text-end"><i class="far fa-calendar-check float-start"></i><span class="font-30">{{ numCitasDia }}</span></h2>
                  <!-- <p class="m-b-0">21% Higher Then Last Month</p> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="info-box7 l-bg-card1 order-info-box7">
                <div class="info-box7-block">
                  <h5 class="m-b-15">Citas del mes</h5>
                  <h2 class="text-end"><i class="fas fa-cut float-start"></i><span class="font-30">{{ numCitasMes }}</span></h2>
                  <!-- <p class="m-b-0">37% Higher Then Last Month</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="info-box7 l-bg-card3 order-info-box7">
                <div class="info-box7-block">
                  <h5 class="m-b-15">PROCEDIMIENTOS CLIQ de hoy</h5>
                  <h2 class="text-end">
                    <i class="fas fa-star-of-life float-start"></i>
                      <span class="font-30">
                        {{ numProcedimientosDia }}
                      </span>
                  </h2>
                  <!-- <p class="m-b-0">37% Higher Then Last Month</p> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="info-box7 l-bg-card3 order-info-box7">
                <div class="info-box7-block">
                  <h5 class="m-b-15">PROCEDIMIENTOS CLIQ para el mes</h5>
                  <h2 class="text-end">
                    <i class="fas fa-star-of-life float-start"></i>
                      <span class="font-30">
                        {{ numProcedimientosMes }}
                      </span>
                  </h2>
                  <!-- <p class="m-b-0">37% Higher Then Last Month</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</section>
