<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Tablero'" [items]="[]" [active_item]="'Informacion General'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
     <mat-tab-group>
      <mat-tab label="Ingresos" style="margin-right: 0;">
        <div class="row mt-3" >
          <form [formGroup]="form">
            <mat-form-field class="col-3 me-2" appearance="outline">
              <mat-label>Fecha Inicio</mat-label>
              <input matInput  formControlName="start" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker startView="year" #picker></mat-datepicker>
              <!-- <mat-error *ngIf="campoEsValido('start')">{{'Debe seleccionar una fecha de inicio'}}</mat-error> -->
            </mat-form-field>
            <mat-form-field class="col-3" appearance="outline">
              <mat-label>Fecha Fin</mat-label>
              <input matInput  formControlName="end" [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker startView="year" #picker2></mat-datepicker>
              <!-- <mat-error *ngIf="campoEsValido('end')">{{'Debe seleccionar una fecha fin'}}</mat-error> -->
            </mat-form-field>
            <button class="ms-4" mat-raised-button color="primary" (click)="search()">
              <mat-icon>search</mat-icon>
                Buscar
            </button>
          </form>
     </div>
     <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
       <div class="card">
         <div style="background-color: #144464;" class="header">
           <h2 style="color:white;">Ingresos por Quirofano</h2>
           <div class="right">
             <div class="export-button m-l-10 image-upload" >
                 <div class="export-button m-l-10" matTooltip="Exportar Excel">
                   <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                 </div>
                 <!-- <input id="uploadBtn" accept=".xls, .xlsx" type="file"
                 class="upload input-common"  required matTooltip="Importar" /> -->
               </div>
           </div>

         </div>

         <div class="body">
           <table class="table table-hover">
              <tbody>
                <tr>
                  <th *ngFor="let col of displayedColumnsByDates">{{col}}</th>
                </tr>
                <tr *ngFor="let row of tableByDates">
                  <td>{{row.Quirofano.nombre_quirofano}}</td>
                  <td>{{row.count}}</td>
                  <td>{{row.total_income | currency}}</td>
                </tr>
                <!-- <tr>
                  <td></td>
                  <td></td>
                  <td>
                    {{totalIncome}}
                  </td>
                </tr> -->
              </tbody>
            </table>
           <!-- <table class="table table-striped">
              <tr *ngFor="let item of information">
                <td>{{"Ingresos Cobrados en" + " " + item.month}}</td>
                <td>{{item.income | currency}}</td>
              </tr>
              <tr>
                <td>Total: </td>
                <td>{{total | currency}}</td>
              </tr>
            </table> -->
           <!-- <div class="recent-report__chart">

             <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
               [plugins]="barChartPlugins" [type]="barChartType">
             </canvas>
           </div> -->
         </div>
       </div>
     </div>
     <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="card">
            <div style="background-color: #144464;" class="header">
              <h2 style="color:white;">Ingresos Mensuales</h2>
            </div>
            <table class="table table-hover">
              <tbody>
                <tr *ngFor="let item of information">
                  <td>{{"Ingresos Cobrados en" + " " + item.month}}</td>
                  <td>{{item.income | currency}}</td>
                </tr>
                <tr>
                  <td>Total: </td>
                  <td>{{total | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
      </mat-tab>
    <mat-tab label="Ingresos Anuales">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div style="background-color: #144464;" class="header">
              <h2 style="color:white;">Ingresos por Quirofano Acumulado Anual</h2>
            </div>
            <div class="body">
              <div class="recent-report__chart">
                <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [type]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card">
            <div style="background-color: #144464;" class="header">
              <h2 style="color:white;">Procedimientos Realizados por Quirofano Acumulado Anual</h2>
            </div>
            <div class="body">
              <div class="recent-report__chart">
                <canvas baseChart class="chart" [data]="barChartData2" [options]="barChartOptions2"
                  [plugins]="barChartPlugins2" [type]="barChartType2">
                </canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-tab>
    <mat-tab label="Reporte Acumulado">
        <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div style="background-color: #144464;" class="header">
             <div class="export-button m-l-10 image-upload" >
                        <label for="uploadBtn">
                           <img src="assets/images/icons/xlsx.png" matTooltip="Exportar"/>
                         </label>
                      </div>
            <h2 style="color:white;">Reporte Acumulado de Procedimientos</h2>
          </div>
          <div>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th *ngFor="let col of monthsColumns;">{{col}}</th>
                </tr>
                <tr *ngFor="let row of array">
                  <td>{{row.procedure}}</td>
                  <td>{{row.acumulado}}</td>
                  <td>{{row.enero}}</td>
                  <td>{{row.febrero}}</td>
                  <td>{{row.marzo}}</td>
                  <td>{{row.abril}}</td>
                  <td>{{row.mayo}}</td>
                  <td>{{row.junio}}</td>
                  <td>{{row.julio}}</td>
                  <td>{{row.agosto}}</td>
                  <td>{{row.septiembre}}</td>
                  <td>{{row.octubre}}</td>
                  <td>{{row.noviembre}}</td>
                  <td>{{row.diciembre}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    </mat-tab>
    <mat-tab label="Reporte Por Procedimiento">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="card">
            <div style="background-color: #144464;" class="header">
              <h2 style="color:white;">Filtros</h2>
            </div>
            <div class="mt-3">
                <form [formGroup]="formByProc">
                    <mat-form-field class="col-3 ms-3" appearance="outline">
                      <mat-label>Fecha Inicio</mat-label>
                      <input matInput  formControlName="startProc" [matDatepicker]="picker3">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker startView="year" #picker3></mat-datepicker>
                      <!-- <mat-error *ngIf="campoEsValido('start')">{{'Debe seleccionar una fecha de inicio'}}</mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="col-3 ms-3" appearance="outline">
                      <mat-label>Fecha Fin</mat-label>
                      <input matInput vi formControlName="endProc" [matDatepicker]="picker4">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker startView="year" #picker4></mat-datepicker>
                      <!-- <mat-error *ngIf="campoEsValido('end')">{{'Debe seleccionar una fecha fin'}}</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-5 ms-3" appearance="outline">
                      <mat-label>Procedimiento</mat-label>
                      <mat-select formControlName="procedimiento" required>
                        <mat-option *ngFor="let procedure of proceduresCatalog" [value]="procedure.id_procedimiento">
                          {{procedure.nombre_procedimiento}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button class="ms-4" mat-raised-button color="primary" (click)="searchByProc()" >
                        <mat-icon>search</mat-icon>
                        Buscar
                    </button>
                </form>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
              <div style="background-color: #144464;" class="header">
                  <h2 style="color:white;">Resultado</h2>
                </div>
                <table class="table-striped">
                  <th *ngFor="let col of columnsSearch">{{col}}</th>
                  <tr *ngFor="let row of proceduresByMonth">
                    <!-- <td>{{row.procedimiento}}</td> -->
                    <td>{{row.month}}</td>
                    <td>{{row.total}}</td>
                  </tr>
                </table>
            </div>
          </div>
      </div>
    </mat-tab>

    </mat-tab-group>


    <div class="row">
      <!-- <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-size img-circle user-img-circle card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-dark text-bg-primary ">
              <i class="material-icons align-middle">face</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-start">Citas para hoy</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 650</h3>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="image">
          <img src='../../../assets/images/clinics/SQ.JPG' class="img-circle user-img-circle card-size" alt="User Image" />
          <button class="btn-space example-full-width" mat-raised-button color="primary" style="width:13rem;margin-top:1rem;" >Citas: 360</button>
          </div>
      </div> -->
      <!-- <div class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      </div> -->
      <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="image">
          <img src='../../../assets/images/clinics/905-200x200.png' class="img-circle user-img-circle card-size" alt="User Image" />
          <button class="btn-space example-full-width" mat-raised-button color="primary" style="width:13rem;margin-top:1rem;" >Citas: 120</button>
          </div>
      </div> -->
      <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="image">
          <img src='../../../assets/images/clinics/medica-juarez-200x200.png' class="img-circle user-img-circle card-size" alt="User Image" />
          <button class="btn-space example-full-width" mat-raised-button color="primary" style="width:13rem;margin-top:1rem;" >Citas: 120</button>
          </div>
      </div> -->
      <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12"> -->
        <!-- <div class="image">
          <img src='../../../assets/images/clinics/901-200x200.png' class="img-circle user-img-circle card-size" alt="User Image" />
          <button class="btn-space example-full-width" mat-raised-button color="primary" style="width:13rem;margin-top:1rem;" >Citas: 120</button>

        </div> -->
        <!-- <div style="background-image: url(../../../../assets/images/clinics/901-200x200.png); height: 100px; width: 100px;" class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-blue">
              <i class="material-icons align-middle">local_activity</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Medica 901</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 120</h3>
              </div>
            </div>
          </div>
        </div> -->
      <!-- </div> -->
    </div>
    <!-- #END# Widgets -->
  </div>
</section>
<!--
<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="card card-statistic-2">
    <div class="clearfix">
      <div class="card-icon shadow-primary bg-purple">
        <i class="material-icons align-middle">face</i>
      </div>
      <div class="card-right">
        <div>
          <h5 class="float-end">Citas para hoy</h5>
        </div>
        <div class="m-r-10 m-l-10">
          <h3 class="font-weight-bold float-end mb-0"> 650</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->
