<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Tablero'" [items]="[]" [active_item]="'Informacion General'"></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-size img-circle user-img-circle card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-primary text-bg-primary ">
              <i class="material-icons align-middle">face</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-start">Citas para hoy</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 650</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="image">
          <img src='../../../assets/images/clinics/905-200x200.png' class="img-circle user-img-circle card-size" alt="User Image" />
          <button class="btn-space example-full-width" mat-raised-button color="primary" style="width:13rem;" >Citas: 120</button>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="image">
          <img src='../../../assets/images/clinics/medica-juarez-200x200.png' class="img-circle user-img-circle card-size" alt="User Image" />
          <button class="btn-space example-full-width" mat-raised-button color="primary" style="width:13rem;" >Citas: 120</button>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="image">
          <img src='../../../assets/images/clinics/901-200x200.png' class="img-circle user-img-circle card-size" alt="User Image" />
          <button class="btn-space example-full-width" mat-raised-button color="primary" style="width:13rem;" >Citas: 120</button>

        </div>
        <!-- <div style="background-image: url(../../../../assets/images/clinics/901-200x200.png); height: 100px; width: 100px;" class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-blue">
              <i class="material-icons align-middle">local_activity</i>
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Medica 901</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold float-end mb-0"> 120</h3>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- #END# Widgets -->
  </div>
</section>
<!-- 
<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="card card-statistic-2">
    <div class="clearfix">
      <div class="card-icon shadow-primary bg-purple">
        <i class="material-icons align-middle">face</i>
      </div>
      <div class="card-right">
        <div>
          <h5 class="float-end">Citas para hoy</h5>
        </div>
        <div class="m-r-10 m-l-10">
          <h3 class="font-weight-bold float-end mb-0"> 650</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->
