
table{
    width: 100%;
}
.mat-column-id_procedimiento {
  max-width: 10rem;
  // border-right: 1px solid currentColor;
  // padding-right: 24px;
  text-align: left;
}

.mat-column-especialidad {
  max-width: 15rem;
  // border-right: 1px solid currentColor;
  // padding-right: 24px;
  text-align: left;
}

.mat-column-nombre_quirofano {
  max-width: 15rem;
  // border-right: 1px solid currentColor;
  // padding-right: 24px;
  text-align: left;
}

