<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="itemForm">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="codigo" oninput="this.value = this.value.toUpperCase()">
            <mat-error *ngIf="campoEsValido('codigo')">{{'Debe Ingresar el Codigo'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="descripcion" style="text-transform: uppercase;" >
            <mat-error *ngIf="campoEsValido('descripcion')">{{'Debe Ingresar una Descripción'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Factura Compra</mat-label>
            <input matInput formControlName="facturaCompra" oninput="this.value = this.value.toUpperCase()">
            <mat-error *ngIf="campoEsValido('facturaCompra')">{{'Debe Ingresar la Factura'}}</mat-error>
          </mat-form-field>
        </div>
        
      </div>
      <div class="row">
        <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
          <mat-label>Estado</mat-label>
          <mat-radio-group color="primary" formControlName="estado" aria-label="Estado">
            <mat-radio-button  [value]="true">Activo</mat-radio-button>
            <mat-radio-button [value]="false">Desactivado</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="campoEsValido('estado')">{{'Seleccione tipo de busqueda'}}</mat-error>
        </div> -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero Lote</mat-label>
            <input matInput formControlName="numeroLote" style="text-transform: uppercase;" >
            <mat-error *ngIf="campoEsValido('numeroLote')">{{'Debe Ingresar Numero de Lote'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-label>Perecedero</mat-label>
          <mat-radio-group (change)="changePerecedero()" color="primary" formControlName="perecedero" aria-label="Estado">
            <mat-radio-button  [value]="true">Si</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="campoEsValido('perecedero')">{{'Debe Seleccionar una Opción'}}</mat-error>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha Caducidad</mat-label>
            <input  matInput [matDatepicker]="picker" formControlName="fechaCaducidad">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="campoEsValido('codigo')">{{'Debe seleccionar una fecha'}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cantidad Minima</mat-label>
            <input type="number" matInput formControlName="cantidadMinima" style="text-transform: uppercase;" >
            <mat-error *ngIf="campoEsValido('cantidadMinima')">{{'Debe Ingresar Cant. Minima'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cantidad Maxima</mat-label>
            <input type="number" matInput formControlName="cantidadMaxima" style="text-transform: uppercase;" >
            <mat-error *ngIf="campoEsValido('cantidadMaxima')">{{'Debe Ingresar Cant. Maxima'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cantidad Actual</mat-label>
            <input type="number" matInput formControlName="cantidadActual" style="text-transform: uppercase;" >
            <mat-error *ngIf="campoEsValido('cantidadActual')">{{'Debe Ingresar Cant. Actual'}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button *ngIf="data.action == 'edit'" mat-raised-button color="primary" [disabled]="!itemForm.valid" [mat-dialog-close]="1"
              (click)="confirmEdit()">Editar</button>
            <button *ngIf="data.action == 'add'" mat-raised-button color="primary" [disabled]="!itemForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
