<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Procedimientos CLIQ'" [items]="[]" [active_item]="'Asignacion masiva de procedimientos'">
        </app-breadcrumb>
      </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <h2>Asignación masiva de procedimientos</h2>
              </div>
              <div class="body">
                  <div class="example-container">
                    <div class="row">
                      <div class="export-button m-l-10 image-upload" >
                        <label for="uploadBtn">
                           <img src="assets/images/icons/xlsx.png" matTooltip="Importar"/>
                         </label>
                        <input id="uploadBtn" accept=".xls, .xlsx" type="file" (change)="onFileChange($event)"
                        class="upload input-common"  required matTooltip="Importar" />
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div *ngIf="showTable" class="card">
            <div class="materialTableHeader">
              <div class="left">
                <ul class="header-buttons-left ms-0">
                  <li class="tbl-title">
                    <h2>Listado Procedimientos</h2>
                  </li>
                  <li class="tbl-search-box">
                    <label for="search-input">
                    </label>
                    <form>
                    </form>
                  </li>
                </ul>
              </div>
              <div class="right">
                <ul class="tbl-export-btn">
                  <li>
                    <div *ngIf="disableSave" class="export-button m-l-10" matTooltip="Guardar Listado Insumos">
                      <button (click)="saveData()" class="btn-space" type="button" mat-fab extended color="primary">
                        <mat-icon>task</mat-icon>
                        Guardar Listado
                    </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body overflow-auto">
              <!-- <div class="responsive_table"> -->
              <div class="table-responsive">
                <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                  <ng-container matColumnDef="serie">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Serie
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Serie:</span>
                        {{row.serie}}
                    </mat-cell>
                  </ng-container>
                   <ng-container matColumnDef="procedimiento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Procedimiento
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Procedimiento:</span>
                        {{row.procedimiento}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nombrePaciente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Paciente
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Paciente:</span>
                        {{row.nombre_paciente + ' ' + row.apellidos_paciente}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nombreDoctor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Medico
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Medico:</span>
                        {{row.doctor}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fechaInicio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Fecha:</span>
                        {{row.fecha_procedimiento_inicio}}
                    </mat-cell>
                  </ng-container>

                  <!--<ng-container matColumnDef="estatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estatus
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Estatus:</span>
                        {{ row.estatus }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="costo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Costo
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Costo:</span>
                        {{row.costo}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="formaPago">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Forma Pago
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Forma Pago:</span>
                        {{row.formaPago}}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="quirofano">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Quirofano
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Quirofano:</span>
                        {{row.quirofano}}
                    </mat-cell>
                  </ng-container> -->
                  <mat-header-row *matHeaderRowDef="displayedColumns">
                  </mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"  [style.cursor]="'pointer'">
                  </mat-row>
                </mat-table>

                <!-- <div *ngIf="dataSource" class="no-results"
                  [style.display]="dataSource.length === 0 ? '' : 'none'">
                  No results
                </div> -->
                <mat-paginator #paginator [length]="dataLength" [pageIndex]="0"
                  [pageSizeOptions]="[15, 25, 35, 50, 100]">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

