<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Catalogo Procedimientos'" [items]="[]" [active_item]="'Editar Procedimiento'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Editar</h2>

          </div>
          <div class="body">
            <form class="mx-4" [formGroup]="procedureDetailsForm">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre Procedimiento</mat-label>
                    <input matInput formControlName="nombre_procedimiento" required>
                    <!-- <mat-error *ngIf="doctorForm.get('nombre')?.hasError('required')">
                      Nombre es requerido
                    </mat-error> -->
                    <mat-error *ngIf="campoEsValido('nombre_procedimiento')">{{'Debe ingresar el nombre'}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Especialidad</mat-label>
                    <input matInput formControlName="especialidad">
                    <mat-error *ngIf="campoEsValido('especialidad')">{{'Debe ingresar una especialidad'}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Precio Base</mat-label>
                    <input matInput formControlName="precioBase" type="number" required>
                    <mat-error *ngIf="campoEsValido('precioBase')">{{'Debe ingresar el precio base'}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-12 col-sm-12">
                   <mat-form-field appearance="outline">
                        <mat-label>Quirofano</mat-label>
                        <mat-select formControlName="quirofano">
                            <mat-option *ngFor="let quirofano of quirofanos" [value]="quirofano.id_quirofano">
                            {{quirofano.nombre_quirofano}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="campoEsValido('quirofano')">{{'Debe seleccionar el quirofano'}}</mat-error>
                    </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <button class="btn-space" mat-raised-button color="primary" (click)="editProcedure()">Guardar Cambios</button>
                  <button type="button" class="btn-space" mat-raised-button color="warn" (click)="deshabilitar()">Eliminar</button>
                  <button type="button" mat-raised-button color="primary" (click)="return()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
