<div class="addContainer">
  <div *ngIf="isDetails" class="contact-details">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about contact-header">
            <!-- <div class="contact-details-img">
              <img [src]='appointments.Paciente.nombre' alt="avatar">
            </div> -->
            <div class="contact-details-heading">
              <div class="contact-details-name mb-2">{{appointments.Paciente.nombre + ' ' + appointments.Paciente.apellidos}}</div>
              <div class="badge col-green">Paciente</div>
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <mat-card-content>
        <div class="contact-details-field" matTooltip="Dia y hora de la cita" [matTooltipPosition]="'above'">
          <i class="material-icons-two-tone color-icon">event_note</i>
          <div class="contact-detail-info"> {{appointments.fecha_cita | CustomDateTablePipe}}
          </div>
        </div>
        <div class="contact-details-field" matTooltip="Correo paciente" [matTooltipPosition]="'above'">
          <i class="material-icons-two-tone color-icon">email</i>
          <div class="contact-detail-info"> {{appointments.Paciente.correo}}
          </div>
        </div>
        <div class="contact-details-field" matTooltip="Telefono paciente" [matTooltipPosition]="'above'">
          <i class="material-icons-two-tone color-icon">phonelink_ring</i>
          <div class="contact-detail-info"> {{appointments.Paciente.telefono}}
          </div>
        </div>
        <div class="contact-details-field" matTooltip="Direccion paciente" [matTooltipPosition]="'above'">
          <i class="material-icons-two-tone color-icon">location_on</i>
          <div class="contact-detail-info"> {{appointments.Paciente.calle_y_numero}}
          </div>
        </div>
        <div class="contact-details-field" matTooltip="Motivo consulta" [matTooltipPosition]="'above'">
          <i class="material-icons-two-tone color-icon">healing</i>
          <div class="contact-detail-info"> {{appointments.motivo_consulta}}
          </div>
        </div>
        <div class="contact-details-field gap-4">
          <button mat-fab extended color="primary" (click)="navigateToAppointment()">
            <mat-icon>arrow_right_alt</mat-icon>
            Ir a cita
          </button>
          <!-- <button mat-fab extended color="warn">
            <mat-icon>notifications_active</mat-icon>
            Llamar Paciente
          </button> -->
        </div>
      </mat-card-content>
    </div>
  </div>
</div>
